{% comment %}
	Aquí deben ir los enlaces a los menús de cada sección de la aplicación.
{% endcomment %}

<li class="has-sub">
						<a href="#">
						   
						    <i class="fa fa-home"></i>
						    <span>Inicio</span>
					    </a>
					
					</li>
					
					
					<li class="has-sub">
						<a href="javascript:;">
						    <b class="caret pull-right"></b>
						    <i class="fa fa-calendar"></i>
						    <span>Gestión periodos</span>
					    </a>
						<ul class="sub-menu">
						    <li><a href="{% url 'crear_periodo' %}">Crear periodo académico</a></li>
						    <li><a href="{% url 'listar_periodos' %}">Listar periodos académicos</a></li>
						</ul>
					</li>
					
						<li class="has-sub">
						<a href="javascript:;">
						    <b class="caret pull-right"></b>
						    <i class="fa fa-laptop"></i>
						    <span>Gestión criterios</span>
					    </a>
						<ul class="sub-menu">
						    <li><a href="{% url 'crear_criterio' %}">Crear criterio de evaluación</a></li>
						    <li><a href="{% url 'listar_criterios' %}">Listar criterios de evaluación</a></li>
						</ul>
					</li>
					
					
						<li class="has-sub">
						<a href="javascript:;">
						    <b class="caret pull-right"></b>
						    <i class="fa fa-laptop"></i>
						    <span>Gestión usuarios</span>
					    </a>
					    
					    
						<ul class="sub-menu">
								<li class="has-sub">
						<a href="javascript:;">
						    <b class="caret pull-right"></b>
						    <i class="fa fa-laptop"></i>
						    <span>Secretarias</span>
					    </a>
						<ul class="sub-menu">
						    <li><a href="{% url 'crear_secretaria' %}">Crear secretaria</a></li>
						    <li><a href="{% url 'listar_secretaria' %}">Listar secretarias</a></li>
						
						</ul>
					</li>
						
						
						
						<li class="has-sub">
						<a href="javascript:;">
						    <b class="caret pull-right"></b>
						    <i class="fa fa-laptop"></i>
						    <span>Profesores</span>
					    </a>
						<ul class="sub-menu">
						    <li><a href="{% url 'crear_profesor' %}">Crear profesor</a></li>
						    <li><a href="{% url 'listar_profesor' %}">Listar profesores</a></li>
						
						</ul>
					</li>
					
					
						<li class="has-sub">
						<a href="javascript:;">
						    <b class="caret pull-right"></b>
						    <i class="fa fa-laptop"></i>
						    <span>Operadores</span>
					    </a>
						<ul class="sub-menu">
						    <li><a href="{% url 'crear_operador' %}">Crear operador</a></li>
						    <li><a href="{% url 'listar_operador' %}">Listar operadores</a></li>
						
						</ul>
					</li>
					
						   
						
						</ul>
						
						
					</li>
					
					
					
					
					
				
					