{% extends "base.html" %} 
{% load static %}
{% load bootstrap3 %}
 
{% block title %} 
    Mostrar mensajes tenants
{% endblock %} 

{% block extrahead %}
{% endblock %}

{% block page-header %}
      {% endblock %}
 
{% block contenido %} 
<div class="col-md-12">
                    <div class="panel panel-inverse">
                        <div class="panel-heading">
                            <div class="panel-heading-btn">
                                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                            </div>
                            <h4 class="panel-title">Listado de periodos</h4>
                        </div>
                        <div class="panel-body">
                        {% for mensaje in mensajes  %}
                            <h2>{{ mensaje.nombre_tenant }}</h2>
                            <p>{{ mensaje.mensajes_tenant }}</p>
                            <br/>
                        {% endfor %}
                        </div>
                    </div>
 </div>

    

				

{% endblock %} 

{% block plugins %}
    <script src="{% static 'js/apps.min.js' %}"></script>

<script>
    $(document).ready(function() {
        App.init();
    });
</script>
{% endblock %}



