{% extends "base.html" %}
{% load static %}
{% load bootstrap3 %}

{% block titulo %}
	{% if editar %}
		Modificación de Secretaria
	{% else %}
		Creación de Secretaria		
	{% endif %}
{% endblock titulo %}

{% block extrahead %}

	<link href="{% static 'plugins/select2/dist/css/select2.min.css' %}" rel="stylesheet" />
	<link href="{% static 'plugins/gritter/css/jquery.gritter.css' %}" rel="stylesheet" />	
{% endblock %}
{% block usuario %}{{ user.get_username }}{% endblock %}
{% block nombre_usuario %}{{ user.get_username }}{% endblock %}
{% block page-header %}
	<ol class="breadcrumb pull-right">
        <li><a href="javascript:;">Home</a></li>
        <li><a href="javascript:;">Secretaria</a></li>
        <li class="active">
        	{% if modificar %}
				Modificar 
			{% else %}
				Crear 		
			{% endif %}
        </li>
    </ol>
    <!-- end breadcrumb -->
    <!-- begin page-header -->
    <h1 class="page-header">Gestión de Secretarias 
    	<small>
    		{% if modificar %}
				Modificar datos de Secretaria
			{% else %}
				Crear nueva Secretaria
			{% endif %}
    	</small>
    </h1>
{% endblock %}



{% block contenido %}

<!-- begin col-10 -->
<div class="col-md-12">
    <div class="panel panel-inverse">
        <div class="panel-heading">
            <div class="panel-heading-btn">
           	    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>                
            </div>
            <h4 class="panel-title">
				{% if modificar %}
					Modificar Secretaria 
				{% else %}
					Crear Secretaria
				{% endif %}
            </h4>
        </div>
        <div class="panel-body">
        
		<form action = "" method="POST" class="form-horizontal form-bordered " data-parsley-validate="true"> {% csrf_token %}

			{% for campo in form %}
					{% bootstrap_field campo label_class="control-label col-md-4 col-sm-4" field_class="col-md-6 col-sm-6" %}
			{% endfor %}

			<div class="form-group">
				<label class="control-label col-md-4 col-sm-4"></label>
				<div class="col-md-6 col-sm-6">
					<button type="submit" class="btn btn-primary add-gritter-light">
					{% if modificar %}
						Modificar 
					{% else %}
						Registrar	
					{% endif %}
					</button>
				</div>
			</div>
		</form>

	    </div>
    </div>
</div>
{% endblock contenido %}

{% block plugins %}
	
	<script src="{% static 'plugins/bootstrap-datepicker/js/bootstrap-datepicker.js' %}"></script>
    <script src="{% static 'plugins/masked-input/masked-input.min.js' %}"></script>
    <script src="{% static 'plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js' %}"></script>
    <script src="{% static 'plugins/bootstrap-select/bootstrap-select.min.js' %}"></script>
    <script src="{% static 'plugins/bootstrap-daterangepicker/moment.js' %}"></script>
    <script src="{% static 'plugins/bootstrap-daterangepicker/daterangepicker.js' %}"></script>
    <script src="{% static 'plugins/select2/dist/js/select2.min.js' %}"></script>
    <script src="{% static 'plugins/bootstrap-eonasdan-datetimepicker/build/js/bootstrap-datetimepicker.min.js' %}"></script>
    <script src="{% static 'plugins/gritter/js/jquery.gritter.js' %}"></script>
    <script src="{% static 'plugins/bootstrap-datepicker/locales/bootstrap-datepicker.es.min.js'%}" charset="UTF-8"></script>
    <script src="{% static 'js/apps.min.js' %}"></script>
    <script>
        $(document).ready(function() {
            App.init();               
    
        });
    </script>
    <script>
  $(function() {
    $( ".datepicker" ).datepicker({      
      language: 'es', 
      //format: 'dd/MM/yyyy',     
    });
  });
  </script>

{% endblock %}