{% extends "base.html" %}
{% load bootstrap3 %}
{% load static %}

{% block extrahead %}
		<!-- ================== BEGIN PAGE LEVEL STYLE ================== -->
	<link href="{% static 'plugins/DataTables/media/css/dataTables.bootstrap.min.css' %}" rel="stylesheet" />
	<link href="{% static 'plugins/DataTables/extensions/Buttons/css/buttons.bootstrap.min.css' %}" rel="stylesheet" />
	<link href="{% static 'plugins/DataTables/extensions/Responsive/css/responsive.bootstrap.min.css' %}" rel="stylesheet" />
	<link href="{% static 'plugins/DataTables/extensions/AutoFill/css/autoFill.bootstrap.min.css' %}" rel="stylesheet" />
	<link href="{% static 'plugins/DataTables/extensions/ColReorder/css/colReorder.bootstrap.min.css' %}" rel="stylesheet" />
	<link href="{% static 'plugins/DataTables/extensions/KeyTable/css/keyTable.bootstrap.min.css' %}" rel="stylesheet" />
	<link href="{% static 'plugins/DataTables/extensions/RowReorder/css/rowReorder.bootstrap.min.css' %}" rel="stylesheet" />
	<link href="{% static 'plugins/DataTables/extensions/Select/css/select.bootstrap.min.css' %}" rel="stylesheet" />

	<!-- ================== END PAGE LEVEL STYLE ================== -->
{% endblock extrahead %}

{% block contenido %}

<div class="col-md-12">
           <div class="panel panel-inverse">
               <div class="panel-heading">
                   <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
                    </div>
                    <h4 class="panel-title">Perfil de usuario</h4>
                </div>


                        <div class="panel-body">

						    <p>Bienvenido, {{ user.get_username }}.</p>
						    

						    <div class="panel panel-default">
						    	<div class="panel-heading">
						        	<h5>Perfil del Usuario</h5>
						    	</div>








<!-- begin profile-right -->
                    <div class="profile-right">
                        <!-- begin profile-info -->
                        <div class="profile-info">
                            <!-- begin table -->
                            <div class="table-responsive">
                                <table class="table table-profile">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>
                                                <h4>{{object.primer_nombre}} {{object.primer_apellido}} 
                                                <small>Secretaria</small>
                                                </h4>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        <tr class="highlight">
                                            <td class="field">Nombre</td>
                                            <td> {{object.primer_nombre}} {{object.segundo_nombre}} 
                                            	 {{object.primer_apellido}} {{object.segundo_apellido}} 
                                            </td>
                                        </tr>

                                      

                                        <tr class="highlight">
                                            <td class="field">Documento de identidad - {{object.tipo_documento_identificacion}} </td>
                                            <td>{{object.numero_documento_identificacion}} </td>
                                        </tr>

                                                

                                         <tr class="highlight">

                                         
                                            <td class="field">Correo electónico </td>
                                            <td>{{object.correo_electronico}} </td>

                                       		

                                        </tr>


                                         <tr class="highlight">

                                         
                                            <td class="field">Teléfono </td>
                                            <td>{{object.telefono}} </td>

                                       		

                                        </tr>

                                            <tr class="highlight">
                                            <td class="field">Estado</td>
                                            <td>{{object.estado}} </td>
                                        </tr>
                                       
                                        
                                    </tbody>
                                </table>
                            </div>
                            <!-- end table -->
                        </div>
                        <!-- end profile-info -->
                    </div>
                    <!-- end profile-right -->
                </div>
                <!-- end profile-section -->

















						   <!-- 
						    <div class="profile-selection" >
						    	<div class="profile-left"> </div>
						    	<div class="profile-right">
						    		<div class="profile-info" >
						    			<div class="table-responsive">
						    				<div class = "table-profile">
						    			
						    				<thead>
						    					<tr>
						    						<th></th>

						    					</tr>
						    					<th>
						    						
						    						<h4>
						    							Nombre
						    							<small> Estudiante </small>
						    						</h4>

						    					</th>

						    				</thead>


						    				<tbody>
						    					<tr class="highlight">
													<td class="field"> Mood </td>
													<td></td>						    				
						    					</tr>

						    					<tr class="divider">
													<td colspan=2> </td>
											
												</tr>

												<tr>
													<td class="filed" >Mobile</td>
													<td> <i class="fa fa-mobile fa-lg m-r-5"></i> 3012132123 </td>											

												</tr>

												<tr>
													<td class="field"> Home </td>
													<td></td>
												</tr>

											</tbody>

						    				</div>

						    			</div>


						    		</div>

						    	</div>
						    	

						    </div>


!-->
						
					</div>
                </div>
		    </div>

</div>



{% endblock contenido %}

{% block plugins %}
		

	<!-- ================== BEGIN PAGE LEVEL JS ================== -->
	<script src = "{% static 'plugins/DataTables/media/js/jquery.dataTables.js' %}"></script>
	<script src = "{% static 'plugins/DataTables/media/js/dataTables.bootstrap.min.js' %}"></script>
	<script src = "{% static 'plugins/DataTables/extensions/Buttons/js/dataTables.buttons.min.js' %}"></script>
	<script src = "{% static 'plugins/DataTables/extensions/Buttons/js/buttons.bootstrap.min.js' %}"></script>
	<script src = "{% static 'plugins/DataTables/extensions/Buttons/js/buttons.flash.min.js' %}"></script>
	<script src = "{% static 'plugins/DataTables/extensions/Buttons/js/jszip.min.js' %}"></script>
	<script src = "{% static 'plugins/DataTables/extensions/Buttons/js/pdfmake.min.js' %}"></script>
	<script src = "{% static 'plugins/DataTables/extensions/Buttons/js/vfs_fonts.min.js' %}"></script>
	<script src = "{% static 'plugins/DataTables/extensions/Buttons/js/buttons.html5.min.js' %}"></script>
	<script src = "{% static 'plugins/DataTables/extensions/Buttons/js/buttons.print.min.js' %}"></script>
	<script src = "{% static 'plugins/DataTables/extensions/Responsive/js/dataTables.responsive.min.js' %}"></script>
	<script src = "{% static 'plugins/DataTables/extensions/AutoFill/js/dataTables.autoFill.min.js' %}"></script>
	<script src = "{% static 'plugins/DataTables/extensions/ColReorder/js/dataTables.colReorder.min.js' %}"></script>
	<script src = "{% static 'plugins/DataTables/extensions/KeyTable/js/dataTables.keyTable.min.js' %}"></script>
	<script src = "{% static 'plugins/DataTables/extensions/RowReorder/js/dataTables.rowReorder.min.js' %}"></script>
	<script src = "{% static 'plugins/DataTables/extensions/Select/js/dataTables.select.min.js' %}"></script>
	<script src = "{% static 'js/table-manage-combine.demo.min.js' %}"></script>
	<script src = "{% static 'js/apps.min.js' %}"></script>
	<!-- ================== END PAGE LEVEL JS ================== -->

	<script>
			$(document).ready(function() {
				App.init();
				TableManageCombine.init();
			});
	</script>


	

{% endblock plugins %}
