{% extends "base.html" %}
{% load bootstrap3 %}
{% block contenido %}
 <div class="col-md-12">
           <div class="panel panel-inverse">
               <div class="panel-heading">
                   <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
                    </div>
                    <h4 class="panel-title">Crear usuario</h4>
                </div
>                        <div class="panel-body"  style="padding: 1% 10% 0% 3%;" >



					    <div class="row">
						
							<form action="" method="POST" name="form_crear_usuario" class="form-horizontal ">{% csrf_token %}
							
						

							{% for field in form %}
							<div class="col-md-5 col-md-offset-1">
							{% bootstrap_field  field layout="vertical" %}
							</div>
							{% endfor %}

							<div class="form-group">
									<label class="col-sm-4 control-label "></label>
									<div class="col-md-5">
										<button type="submit" class="btn btn-primary">Submit</button>
									</div>
							</div>
							</form>

						</div>


					</div>
                </div>
		    </div>

{% endblock contenido %}

{% block plugins %}


	<script>
			$(document).ready(function() {
				
				App.init();


			});
	</script>




{% endblock plugins %}
