{% extends "base.html" %}
{% load bootstrap3 %}
{% load static %}

{% block titulo %}
	Listado de Secretarias
{% endblock %}


{% block extrahead %}
	<!-- ================== BEGIN PAGE LEVEL STYLE ================== -->
	<link href="{% static 'plugins/DataTables/media/css/dataTables.bootstrap.min.css' %}" rel="stylesheet" />
	<link href="{% static 'plugins/DataTables/extensions/Buttons/css/buttons.bootstrap.min.css' %}" rel="stylesheet" />
	<link href="{% static 'plugins/DataTables/extensions/Responsive/css/responsive.bootstrap.min.css' %}" rel="stylesheet" />
	<link href="{% static 'plugins/DataTables/extensions/AutoFill/css/autoFill.bootstrap.min.css' %}" rel="stylesheet" />
	<link href="{% static 'plugins/DataTables/extensions/ColReorder/css/colReorder.bootstrap.min.css' %}" rel="stylesheet" />
	<link href="{% static 'plugins/DataTables/extensions/KeyTable/css/keyTable.bootstrap.min.css' %}" rel="stylesheet" />
	<link href="{% static 'plugins/DataTables/extensions/RowReorder/css/rowReorder.bootstrap.min.css' %}" rel="stylesheet" />
	<link href="{% static 'plugins/DataTables/extensions/Select/css/select.bootstrap.min.css' %}" rel="stylesheet" />
	<!-- ================== END PAGE LEVEL STYLE ================== -->

{% endblock%}

{% block usuario %}{{ user.get_username }}{% endblock %}
{% block nombre_usuario %}{{ user.get_username }}{% endblock %}
{% block page-header %}
	<ol class="breadcrumb pull-right">
        <li><a href="javascript:;">Home</a></li>
        <li><a href="javascript:;">Secretarias Registradas</a></li>
        <li class="active">Listar</li>
    </ol>
    <!-- end breadcrumb -->
    <!-- begin page-header -->
    <h1 class="page-header">Listar <small>Lista de Secretarias</small></h1>
{% endblock %}

{% block contenido %}
	

	<div class="col-md-12">
        <div class="panel panel-inverse">
            <div class="panel-heading">
                <div class="panel-heading-btn">
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                    
                </div>
                <h4 class="panel-title">Listado de Secretarias</h4>
            </div>
            <div class="panel-body">
                <table id="data-table" class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th nowrap>Primer Nombre</th>
                            <th nowrap>Primer Apellido</th>
                            <th nowrap>Usuario</th>
                            <th nowrap>Numero de Documento</th>
                            <th nowrap>Correo Electornico</th>
                            <th nowrap></th>
                            <th nowrap></th>
                            <!--th>Editar</th-->
                            
                            
                        </tr>
                    </thead>
                    <tbody>

                    	{% for secretaria in object_list %}
							<tr >
								<td> {{ secretaria.primer_nombre }} </td>
								<td> {{ secretaria.primer_apellido }} </td>
								<td> {{ secretaria.username }} </td>
								<td> {{ secretaria.numero_documento_identificacion }} </td>
								<td> {{ secretaria.correo_electronico }} </td>
								<td> <a href="{% url 'editar_secretaria' secretaria.id %}" class="btn btn-default"><i class="fa fa-edit"></i> Modificar </a> </td>
								<td> <a href="{% url 'visualizar_secretaria' secretaria.id %}" class="btn btn-default"><i class="fa fa-edit"></i> Ver Más </a> </td>
								
								
								
							</tr>
						{% endfor %}                                    
                        
                    </tbody>
                </table>
            	
            </div>
        </div>
    </div>
	
{% endblock %}

{% block plugins %}
	<script src="{% static 'plugins/DataTables/media/js/jquery.dataTables.js' %}"></script>
	<script src="{% static 'plugins/DataTables/media/js/dataTables.bootstrap.min.js' %}"></script>
	<script src="{% static 'plugins/DataTables/extensions/Buttons/js/dataTables.buttons.min.js' %}"></script>
	<script src="{% static 'plugins/DataTables/extensions/Buttons/js/buttons.bootstrap.min.js' %}"></script>
	<script src="{% static 'plugins/DataTables/extensions/Buttons/js/buttons.flash.min.js' %}"></script>
	<script src="{% static 'plugins/DataTables/extensions/Buttons/js/jszip.min.js' %}"></script>
	<script src="{% static 'plugins/DataTables/extensions/Buttons/js/pdfmake.min.js' %}"></script>
	<script src="{% static 'plugins/DataTables/extensions/Buttons/js/vfs_fonts.min.js' %}"></script>
	<script src="{% static 'plugins/DataTables/extensions/Buttons/js/buttons.html5.min.js' %}"></script>
	<script src="{% static 'plugins/DataTables/extensions/Buttons/js/buttons.print.min.js' %}"></script>
	<script src="{% static 'plugins/DataTables/extensions/Responsive/js/dataTables.responsive.min.js' %}"></script>
	<!--script src="{% static 'plugins/DataTables/extensions/AutoFill/js/dataTables.autoFill.min.js' %}"></script-->
	<script src="{% static 'plugins/DataTables/extensions/ColReorder/js/dataTables.colReorder.min.js' %}"></script>
	<script src="{% static 'plugins/DataTables/extensions/KeyTable/js/dataTables.keyTable.min.js' %}"></script>
	<script src="{% static 'plugins/DataTables/extensions/RowReorder/js/dataTables.rowReorder.min.js' %}"></script>
	<script src="{% static 'plugins/DataTables/extensions/Select/js/dataTables.select.min.js' %}"></script>
	<script src="{% static 'js/table-manage-combine.demo.min.js' %}"></script>
	<script src="{% static 'js/apps.min.js' %}"></script>

	<script>
		$(document).ready(function() {
			App.init();
			TableManageCombine.init();
		});
	</script>

{% endblock %}	
	