{% extends "base.html" %}
{% load bootstrap3 %}
{% load static %}

{% block extrahead %}
		<!-- ================== BEGIN PAGE LEVEL STYLE ================== -->
	<link href="{% static 'plugins/DataTables/media/css/dataTables.bootstrap.min.css' %}" rel="stylesheet" />
	<link href="{% static 'plugins/DataTables/extensions/Buttons/css/buttons.bootstrap.min.css' %}" rel="stylesheet" />
	<link href="{% static 'plugins/DataTables/extensions/Responsive/css/responsive.bootstrap.min.css' %}" rel="stylesheet" />
	<link href="{% static 'plugins/DataTables/extensions/AutoFill/css/autoFill.bootstrap.min.css' %}" rel="stylesheet" />
	<link href="{% static 'plugins/DataTables/extensions/ColReorder/css/colReorder.bootstrap.min.css' %}" rel="stylesheet" />
	<link href="{% static 'plugins/DataTables/extensions/KeyTable/css/keyTable.bootstrap.min.css' %}" rel="stylesheet" />
	<link href="{% static 'plugins/DataTables/extensions/RowReorder/css/rowReorder.bootstrap.min.css' %}" rel="stylesheet" />
	<link href="{% static 'plugins/DataTables/extensions/Select/css/select.bootstrap.min.css' %}" rel="stylesheet" />

	<!-- ================== END PAGE LEVEL STYLE ================== -->
{% endblock extrahead %}
{% block usuario %}{{ user.get_username }}{% endblock %}
{% block nombre_usuario %}{{ user.get_username }}{% endblock %}
{% block contenido %}

<!-- begin col-10 -->

			   <div class="col-md-12">
                   <div class="panel panel-inverse">
                       <div class="panel-heading">
                           <div class="panel-heading-btn">
                                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
                            </div>
                            <h4 class="panel-title">Listado de usuarios - Aplicación Pública</h4>
                        </div>
                        <div class="panel-body">


    <div class="panel panel-default">
    <div class="panel-body">
             <table id="data-table" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Usuario</th>
                        <th>Cargo</th>
                        <th>Estado</th>                       
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for usuario in lista %}
                    
	                    {% if usuario.usuario %}
	                    <tr>                    

	                        
                            <td>
                            	{{usuario.username}}
                            </td>

	                         <td>
								{% if usuario.administrador %}
	                        	Administrador
	                        	{% endif %}

	                        	{% if usuario.secretaria %}
	                        	estudiante
	                        	{% endif %}

	                        	{% if usuario.usuario.profesor %}
	                        	profesor
	                        	{% endif %}

	                        	{% if usuario.usuario.operador %}
	                        	operador
	                        	{% endif %}

	                        </td>

  							<td>  {{usuario.usuario.estado}} </td>
	                          


	                         <td>
<a class="btn btn-info" href="{% url 'profile_usuario' usuario.id%}" > <i class="fa fa-eye"> </i>  Visualizar</a>	
								
	                         	{% if usuario.usuario.administrador %}
	                        	<a class="btn btn-primary" href="{% url 'modificar_usuario' usuario.id%}" > <i class="fa fa-edit"> </i>  Editar</a>
	                        	
	                        	{% endif %}
	                       
	                        {% if usuario.usuario.estado == 'ACTIVO' %}
	                        	<a class="btn btn-danger" data-url="{% url 'eliminar_usuario' usuario.id %}" data-toggle="modal" href="#modal-dialog-des" id="eliminar">  <i class="fa fa-eraser"> </i> Desactivar</a>
								{% endif %}	

								{% if usuario.usuario.estado == 'INACTIVO' %}
	                        	<a class="btn btn-success" data-url="{% url 'activar_usuario' usuario.id %}" data-toggle="modal" href="#modal-dialog-ac" id="activar">  <i class="fa fa-plus"> </i>     Activar</a>
								{% endif %}	
	                         </td>
	                         
	                         
	                    
	                    </tr>


	                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>



	     </div>
                    </div>
			    </div>
			   


<div class="modal fade" id="modal-dialog-des">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h4 class="modal-title"> ¿Desea desactivar el usuario? </h4>
			</div>
			<div class="modal-footer">
				<a href="{% url 'listar_usuario' %}" class="btn btn-sm btn-white" data-dismiss="modal">Cancelar</a>
				<a class="btn btn-sm btn-danger" id="modal-eliminar">Desactivar</a>							
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="modal-dialog-ac">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h4 class="modal-title"> ¿Desea activar el usuario? </h4>
			</div>
			<div class="modal-footer">
				<a href="{% url 'listar_usuario' %}" class="btn btn-sm btn-white" data-dismiss="modal">Cancelar</a>
				<a class="btn btn-sm btn-success" id="modal-activar">Activar</a>							
			</div>
		</div>
	</div>
</div>



{% endblock contenido %}

{% block plugins %}
		

	<!-- ================== BEGIN PAGE LEVEL JS ================== -->
	<script src = "{% static 'plugins/DataTables/media/js/jquery.dataTables.js' %}"></script>
	<script src = "{% static 'plugins/DataTables/media/js/dataTables.bootstrap.min.js' %}"></script>
	<script src = "{% static 'plugins/DataTables/extensions/Buttons/js/dataTables.buttons.min.js' %}"></script>
	<script src = "{% static 'plugins/DataTables/extensions/Buttons/js/buttons.bootstrap.min.js' %}"></script>
	<script src = "{% static 'plugins/DataTables/extensions/Buttons/js/buttons.flash.min.js' %}"></script>
	<script src = "{% static 'plugins/DataTables/extensions/Buttons/js/jszip.min.js' %}"></script>
	<script src = "{% static 'plugins/DataTables/extensions/Buttons/js/pdfmake.min.js' %}"></script>
	<script src = "{% static 'plugins/DataTables/extensions/Buttons/js/vfs_fonts.min.js' %}"></script>
	<script src = "{% static 'plugins/DataTables/extensions/Buttons/js/buttons.html5.min.js' %}"></script>
	<script src = "{% static 'plugins/DataTables/extensions/Buttons/js/buttons.print.min.js' %}"></script>
	<script src = "{% static 'plugins/DataTables/extensions/Responsive/js/dataTables.responsive.min.js' %}"></script>
	<script src = "{% static 'plugins/DataTables/extensions/AutoFill/js/dataTables.autoFill.min.js' %}"></script>
	<script src = "{% static 'plugins/DataTables/extensions/ColReorder/js/dataTables.colReorder.min.js' %}"></script>
	<script src = "{% static 'plugins/DataTables/extensions/KeyTable/js/dataTables.keyTable.min.js' %}"></script>
	<script src = "{% static 'plugins/DataTables/extensions/RowReorder/js/dataTables.rowReorder.min.js' %}"></script>
	<script src = "{% static 'plugins/DataTables/extensions/Select/js/dataTables.select.min.js' %}"></script>
	<script src = "{% static 'js/table-manage-combine.demo.min.js' %}"></script>
	
	<!-- ================== END PAGE LEVEL JS ================== -->

	<script>
			$(document).ready(function() {
				
				App.init();
				TableManageCombine.init();


			});
	</script>

	<script type="text/javascript">
		$('#eliminar').on('click',function(e){
			var url = $(this).attr('data-url');
			$('#modal-eliminar').attr('href',url);
		});
	</script>

	<script type="text/javascript">
		$('#activar').on('click',function(e){
			var url = $(this).attr('data-url');
			$('#modal-activar').attr('href',url);
		});
	</script>



{% endblock plugins %}
