{% load static %}
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="es">
<!--<![endif]-->
<head>

	<meta charset="utf-8" />
	<title>{% block titulo %}{% endblock %}</title>
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
	<meta content="ProyectoAdmisiones" name="description" />
	<meta content="Team" name="author" />
	
	

	<!-- ================== BEGIN BASE CSS STYLE ================== -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
	<link href="{% static 'plugins/jquery-ui/themes/base/minified/jquery-ui.min.css' %}" rel="stylesheet" />
	<link href="{% static 'plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" />
	<link href="{% static 'plugins/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" />
	<link href="{% static 'css/animate.min.css' %}" rel="stylesheet" />
	<link href="{% static 'css/style.min.css' %}" rel="stylesheet" />
	<link href="{% static 'css/style-responsive.min.css' %}" rel="stylesheet" />
	<link href="{% static 'css/theme/default.css' %}" rel="stylesheet" id="theme" />
	
	<!-- ================== END BASE CSS STYLE ================== -->


	{% block extrahead %}
	{% endblock%}
	

	<!-- ================== BEGIN BASE JS ================== -->
	<script src="{% static 'plugins/pace/pace.min.js' %}"></script>
	<!-- ================== END BASE JS ================== -->
</head>
<body>
	<!-- begin #page-loader -->
	<div id="page-loader" class="fade in"><span class="spinner"></span></div>
	<!-- end #page-loader -->
	
	<!-- begin #page-container -->
	<div id="page-container" class="page-container fade page-sidebar-fixed page-header-fixed">
		<!-- begin #header -->
		<div id="header" class="header navbar navbar-default navbar-fixed-top">
			<!-- begin container-fluid -->
			<div class="container-fluid">
				<!-- begin mobile sidebar expand / collapse button -->
				<div class="navbar-header">
					<a href="index.html" class="navbar-title"><span class="navbar-logo"></span> Universidad del Valle - Facultad de Ciencias Sociales y Economicas</a>
					<button type="button" class="navbar-toggle" data-click="sidebar-toggled">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
				<!-- end mobile sidebar expand / collapse button -->
				
				<!-- begin header navigation right -->
				<ul class="nav navbar-nav navbar-right">
				<!--	<li>-->
				<!--		<form class="navbar-form full-width">-->
				<!--			<div class="form-group">-->
				<!--				<input type="text" class="form-control" placeholder="Enter keyword" />-->
				<!--				<button type="submit" class="btn btn-search"><i class="fa fa-search"></i></button>-->
				<!--			</div>-->
				<!--		</form>-->
				<!--	</li>-->
					<!--<li class="dropdown">-->
					<!--	<a href="javascript:;" data-toggle="dropdown" class="dropdown-toggle f-s-14">-->
					<!--		<i class="fa fa-bell-o"></i>-->
					<!--		<span class="label">5</span>-->
					<!--	</a>-->
					<!--	<ul class="dropdown-menu media-list pull-right animated fadeInDown">-->
     <!--                       <li class="dropdown-header">Notifications (5)</li>-->
     <!--                       <li class="media">-->
     <!--                           <a href="javascript:;">-->
     <!--                               <div class="media-left"><i class="fa fa-bug media-object bg-red"></i></div>-->
     <!--                               <div class="media-body">-->
     <!--                                   <h6 class="media-heading">Server Error Reports</h6>-->
     <!--                                   <div class="text-muted f-s-11">3 minutes ago</div>-->
     <!--                               </div>-->
     <!--                           </a>-->
     <!--                       </li>-->
     <!--                       <li class="media">-->
     <!--                           <a href="javascript:;">-->
     <!--                               <div class="media-left"><img src="{% static 'img/user-1.jpg' %}" class="media-object" alt="" /></div>-->
     <!--                               <div class="media-body">-->
     <!--                                   <h6 class="media-heading">John Smith</h6>-->
     <!--                                   <p>Quisque pulvinar tellus sit amet sem scelerisque tincidunt.</p>-->
     <!--                                   <div class="text-muted f-s-11">25 minutes ago</div>-->
     <!--                               </div>-->
     <!--                           </a>-->
     <!--                       </li>-->
     <!--                       <li class="media">-->
     <!--                           <a href="javascript:;">-->
     <!--                               <div class="media-left"><img src="{% static 'img/user-2.jpg' %}" class="media-object" alt="" /></div>-->
     <!--                               <div class="media-body">-->
     <!--                                   <h6 class="media-heading">Olivia</h6>-->
     <!--                                   <p>Quisque pulvinar tellus sit amet sem scelerisque tincidunt.</p>-->
     <!--                                   <div class="text-muted f-s-11">35 minutes ago</div>-->
     <!--                               </div>-->
     <!--                           </a>-->
     <!--                       </li>-->
     <!--                       <li class="media">-->
     <!--                           <a href="javascript:;">-->
     <!--                               <div class="media-left"><i class="fa fa-plus media-object bg-green"></i></div>-->
     <!--                               <div class="media-body">-->
     <!--                                   <h6 class="media-heading"> New User Registered</h6>-->
     <!--                                   <div class="text-muted f-s-11">1 hour ago</div>-->
     <!--                               </div>-->
     <!--                           </a>-->
     <!--                       </li>-->
     <!--                       <li class="media">-->
     <!--                           <a href="javascript:;">-->
     <!--                               <div class="media-left"><i class="fa fa-envelope media-object bg-blue"></i></div>-->
     <!--                               <div class="media-body">-->
     <!--                                   <h6 class="media-heading"> New Email From John</h6>-->
     <!--                                   <div class="text-muted f-s-11">2 hour ago</div>-->
     <!--                               </div>-->
     <!--                           </a>-->
     <!--                       </li>-->
     <!--                       <li class="dropdown-footer text-center">-->
     <!--                           <a href="javascript:;">View more</a>-->
     <!--                       </li>-->
					<!--	</ul>
					</li>-->
					<li class="dropdown navbar-user">
						<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
							<img src="{% static 'img/user-13.jpg' %}" alt="" /> 
							<span class="hidden-xs">{% block usuario %}{% endblock %}</span> <b class="caret"></b>
						</a>
						<ul class="dropdown-menu animated fadeInLeft">
							<li><a href="javascript:;">Editar Cuenta</a></li>
							<li class="divider"></li>
							<li><a href="{% url 'cerrar_sesion' %}">Cerrar Sesión</a></li>
						</ul>
					</li>
				</ul>
				<!-- end header navigation right -->
			</div>
			<!-- end container-fluid -->
		</div>
		<!-- end #header -->
		
		<!-- begin #sidebar -->
		<div id="sidebar" class="sidebar">
			<!-- begin sidebar scrollbar -->
			<div data-scrollbar="true" data-height="100%">
				<!-- begin sidebar user -->
				<ul class="nav">
					<li class="nav-profile">
						<div class="image">
							<a href="javascript:;"><img src="{% static 'img/user-13.jpg' %}" alt="" /></a>
						</div>
						<div class="info">
							{% block nombre_usuario %}{% endblock %}
							<small>{% block tipo_usuario %}{% endblock %}</small>
						</div>
					</li>
				</ul>
				<!-- end sidebar user -->
				<!-- begin sidebar nav -->
				<ul class="nav">
					<li class="nav-header">Menú</li>
					{% include "menus/menu_base.html" %}
					
			        <!-- begin sidebar minify button -->
					<li><a href="javascript:;" class="sidebar-minify-btn" data-click="sidebar-minify"><i class="fa fa-angle-double-left"></i></a></li>
			        <!-- end sidebar minify button -->
				</ul>
				<!-- end sidebar nav -->
			</div>
			<!-- end sidebar scrollbar -->
		</div>
		<div class="sidebar-bg"></div>
		<!-- end #sidebar -->
		
		<!-- begin #content -->
		<div id="content" class="content">
			
			{% block page-header %}
			<!-- titulo de contenido y ruta -->
			{% endblock %}
			
			{% block contenido %}			
			{% endblock %}
		</div>
		<!-- end #content -->
		
        <!-- begin theme-panel -->
        <div class="theme-panel">
            <a href="javascript:;" data-click="theme-panel-expand" class="theme-collapse-btn"><i class="fa fa-cog"></i></a>
            <div class="theme-panel-content">
                <h5 class="m-t-0">Color Theme</h5>
                <ul class="theme-list clearfix">
                    <li class="active"><a href="javascript:;" class="bg-green" data-theme="default" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Default">&nbsp;</a></li>
                    <li><a href="javascript:;" class="bg-red" data-theme="red" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Red">&nbsp;</a></li>
                    <li><a href="javascript:;" class="bg-blue" data-theme="blue" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Blue">&nbsp;</a></li>
                    <li><a href="javascript:;" class="bg-purple" data-theme="purple" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Purple">&nbsp;</a></li>
                    <li><a href="javascript:;" class="bg-orange" data-theme="orange" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Orange">&nbsp;</a></li>
                    <li><a href="javascript:;" class="bg-black" data-theme="black" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Black">&nbsp;</a></li>
                </ul>
                <div class="divider"></div>
                <div class="row m-t-10">
                    <div class="col-md-5 control-label double-line">Header Styling</div>
                    <div class="col-md-7">
                        <select name="header-styling" class="form-control input-sm">
                            <option value="1">default</option>
                            <option value="2">inverse</option>
                        </select>
                    </div>
                </div>
                <div class="row m-t-10">
                    <div class="col-md-5 control-label">Header</div>
                    <div class="col-md-7">
                        <select name="header-fixed" class="form-control input-sm">
                            <option value="1">fixed</option>
                            <option value="2">default</option>
                        </select>
                    </div>
                </div>
                <div class="row m-t-10">
                    <div class="col-md-5 control-label double-line">Sidebar Styling</div>
                    <div class="col-md-7">
                        <select name="sidebar-styling" class="form-control input-sm">
                            <option value="1">default</option>
                            <option value="2">grid</option>
                        </select>
                    </div>
                </div>
                <div class="row m-t-10">
                    <div class="col-md-5 control-label">Sidebar</div>
                    <div class="col-md-7">
                        <select name="sidebar-fixed" class="form-control input-sm">
                            <option value="1">fixed</option>
                            <option value="2">default</option>
                        </select>
                    </div>
                </div>
                <div class="row m-t-10">
                    <div class="col-md-5 control-label double-line">Sidebar Gradient</div>
                    <div class="col-md-7">
                        <select name="content-gradient" class="form-control input-sm">
                            <option value="1">disabled</option>
                            <option value="2">enabled</option>
                        </select>
                    </div>
                </div>
                <div class="row m-t-10">
                    <div class="col-md-5 control-label double-line">Content Styling</div>
                    <div class="col-md-7">
                        <select name="content-styling" class="form-control input-sm">
                            <option value="1">default</option>
                            <option value="2">black</option>
                        </select>
                    </div>
                </div>
                <div class="row m-t-10">
                    <div class="col-md-12">
                        <a href="#" class="btn btn-inverse btn-block btn-sm" data-click="reset-local-storage"><i class="fa fa-refresh m-r-3"></i> Reset Local Storage</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- end theme-panel -->
		
		<!-- begin scroll to top btn -->
		<a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade" data-click="scroll-top"><i class="fa fa-angle-up"></i></a>
		<!-- end scroll to top btn -->
	</div>
	<!-- end page container -->
	
	<!-- ================== BEGIN BASE JS ================== -->
	<script src="{% static 'plugins/jquery/jquery-1.9.1.min.js' %}"></script>
	<script src="{% static 'plugins/jquery/jquery-migrate-1.1.0.min.js' %}"></script>
	<script src="{% static 'plugins/jquery-ui/ui/minified/jquery-ui.min.js' %}"></script>
	<script src="{% static 'plugins/bootstrap/js/bootstrap.min.js' %}"></script>
	<!--[if lt IE 9]>
		<script src="{% static 'crossbrowserjs/html5shiv.js' %}"></script>
		<script src="{% static 'crossbrowserjs/respond.min.js' %}"></script>
		<script src="{% static 'crossbrowserjs/excanvas.min.js' %}"></script>
	<![endif]-->
	<script src="{% static 'plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>
	<script src="{% static 'plugins/jquery-cookie/jquery.cookie.js' %}"></script>
	<!-- ================== END BASE JS ================== -->
	
	<script src = "{% static 'js/apps.min.js' %}"></script>
	{% block plugins %}
	{% endblock %}

	
	<!-- ================== BEGIN PAGE LEVEL JS ================== -->
	<!-- <script src="{% static 'js/apps.min.js' %}"></script> -->
	<!-- ================== END PAGE LEVEL JS ================== -->


</body>
</html>