{% extends 'base.html' %}
{% load bootstrap3 %}
{% load staticfiles %}


{% block title %}
Detalles de {{ object|classname }}
{% endblock title %}


{% block usuario %}{{ user.get_username }}{% endblock %}
{% block nombre_usuario %}{{ user.get_username }}{% endblock %}
{% block contenido %}


 <div class="wrapper wrapper-content">
    <div class="row animated fadeInRight">
<!-- begin page-header -->
    <div class="ibox-title">
        <h1 class="page-header"><i class="fa fa-user"></i> Curso de {{ object.nombre }}</h1>
    </div>

    <!-- end page-header -->
    <!-- begin profile-container -->
    <div class="ibox-content profile-content">
                <div class="profile-info">
                    <!-- begin table -->
                    <div class="table-responsive">
                        <table class="table table-profile">
                            <thead>
                                <tr>
                                    <th>
                                        Curso
                                    </th>
                                    <th>
                                       {{ object.nombre }}
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="field">Valor para el criterio</td>
                                    <td>{{ object.peso }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- end table -->

                </div>
                <!-- end profile-info -->
    <div class="user-button">
        <div class="row">
            <div class="col-lg-6">
                <a class="btn btn-primary" href="{% url 'gestion_cursos:listar_cursos' %}"><i class="fa fa-chevron-left" aria-hidden="true"></i> Regresar</a>
            </div>
        </div>
    </div>
    </div> <!--contenedor del perfil -->
 </div>
</div>
 {% endblock %}