{% extends "base.html" %} 
{% load static %}
{% load bootstrap3 %}
 
{% block title %} 
    Registrar Mensaje
{% endblock %} 

{% block extrahead %}
<link href="{% static 'plugins/gritter/css/jquery.gritter.css' %}" rel="stylesheet" />
{% endblock %}

{% block page-header %}
 <!-- titulo de contenido y ruta -->
            <ol class="breadcrumb pull-right">
                <li><a href="javascript:;">Home</a></li>
                <li class="active">Mensaje</li>
            </ol>
            <!-- end breadcrumb -->
            <!-- begin page-header -->
            <h1 class="page-header">
             <small>Registro de mensaje</small>
            </h1>

      {% endblock %}
 
{% block contenido %} 
<div class="col-md-12">

                        <div class="panel panel-inverse" data-sortable-id="index-10">
                            <div class="panel-heading">
                                <div class="panel-heading-btn">
                                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                                    
                                    
                                </div>
                                <h4 class="panel-title">
                                	{% if editar %}
										Editar mensaje
									{% else %}
										Registrar mensaje
									{% endif%} 
                                </h4>
                            </div>
                            <div class="panel-body">
                                <form method="post" class="form-horizontal form-bordered " data-parsley-validate="true">
								  {% csrf_token %}
								  {% if editar %} 
										<!--{% bootstrap_field form.codigo_periodo label_class="control-label col-md-4 col-sm-4" field_class="col-md-6 col-sm-6" %}
										{% bootstrap_field form.nombre label_class="control-label col-md-4 col-sm-4" field_class="col-md-6 col-sm-6" %}
										{% bootstrap_field form.estado  label_class="control-label col-md-4 col-sm-4" field_class="col-md-6 col-sm-6" %}
										{% bootstrap_field form.fecha_inicio label_class="control-label col-md-4 col-sm-4" field_class="col-md-6 col-sm-6" %}
										{% bootstrap_field form.fecha_final label_class="control-label col-md-4 col-sm-4" field_class="col-md-6 col-sm-6" %}-->

									{% else %}
										{% for campo in form %}
                                                {% bootstrap_field campo label_class="control-label col-md-4 col-sm-4" field_class="col-md-6 col-sm-6" %}
                                        {% endfor %}
									{% endif%} 
								  
								  <div class="form-group">
                                    <label class="control-label col-md-4 col-sm-4"></label>
                                    <div class="col-md-6 col-sm-6">
                                        <button type="submit" class="btn btn-sm btn-success" name="crear_mensaje">
                                          {% if editar %}
                                            Editar mensaje
                                          {% else %}
                                            Registrar mensaje
                                          {% endif%} 
                                        </button>
                                    </div>
                                </div>
								</form>
                            </div>
                        </div>
                    </div>

				

{% endblock %} 

{% block plugins %}
    <script src="{% static 'js/apps.min.js' %}"></script>

<script>
    $(document).ready(function() {
        App.init();
    });
</script>
{% endblock %}



